<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera" /> <!-- allows writing logs to disk -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dotcontrol"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShortManualActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ManualActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".InfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LicensesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".QrCodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ShutdownActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <service android:name=".ScanWarningService" />
        <activity android:name=".BagFileDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CheckWifiActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ConnectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SetWallpaperActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/dotcontrol" />
    </application>

</manifest>
